@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');
/*mobile first*/

*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(121,227,181);
    background: linear-gradient(90deg, rgba(121,227,181,1) 0%, rgba(9,105,121,1) 35%, rgba(140,4,197,1) 72%, rgba(196,0,255,1) 100%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    font-size: large;
    display: grid;
    justify-content: center;
}

header, h2{
    color: goldenrod;
}

nav ul li{
    list-style-type: none;
}

nav ul, .ad, article, aside{
    color: gold;
    border: 3px solid goldenrod;
}

a{
    color: darkgoldenrod;
    text-decoration: none;
}

footer{
    padding: 25px;
    background-color: goldenrod;
    margin-bottom: 0;
    margin-top: 15px;
}

/*declaramos las áreas para nuestra primera medida*/

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

/*.contenido{
    grid-area: contenido;
}*/

/*aside{
    grid-area: sidebar;
}*/

/*.ad{
    grid-area: ad;
}*/

.galeriaGrid{
    grid-area: galeria;
}

footer{
    grid-area: footer;
}

/* empezamos a acomodar por áreas*/

.grillaGeneral{
    background: rgb(121,227,181);
    background: linear-gradient(90deg, rgba(121,227,181,1) 0%, rgba(9,105,121,1) 35%, rgba(140,4,197,1) 72%, rgba(196,0,255,1) 100%);
    margin-bottom: 1.5em;
    display: grid;
    gap: 20px;
    grid-template-areas:
    "header"
    "nav"
    /*"contenido"*/
    /*"sidebar"*/
    /*"ad"*/
    "galeria"
    "footer";
}

.padre{
    background: rgb(121,227,181);
    background: linear-gradient(90deg, rgba(121,227,181,1) 0%, rgba(9,105,121,1) 35%, rgba(140,4,197,1) 72%, rgba(196,0,255,1) 100%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 15px;
}

img{
    border: 3px solid  goldenrod;
    margin-top: 15px;
}

@media (min-width: 500px) {
    
    .grillaGeneral{
        margin: 0;
        grid-template-areas:
        "header  header"
        "nav     nav"
        "galeria galeria"
        "footer  footer";
        grid-template-columns: 1fr 3fr;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
        
    }

    nav ul{
        color: goldenrod;
        border: 3px solid goldenrod;
    }

    footer{
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .grillaGeneral{
        background: rgb(121,227,181);
        background: linear-gradient(90deg, rgba(121,227,181,1) 0%, rgba(9,105,121,1) 35%, rgba(140,4,197,1) 72%, rgba(196,0,255,1) 100%);
        grid-template-areas:
        "header header header"
        "nav"
        "nav"
        "galeria galeria galeria"
        "footer footer footer";
        grid-template-columns: 1fr 4fr;
        margin-bottom: 1.5em;
    }
    
    nav ul{
        flex-direction: column;
        border: 3px solid goldenrod;
    }

    nav ul{
        color: blue;
        border: 3px solid goldenrod;
    }

    header, h2{
        color: goldenrod;
    }

    a{
        color:darkgoldenrod;
    }

    .galeriaGrid{
        background: rgb(121,227,181);
        background: linear-gradient(90deg, rgba(121,227,181,1) 0%, rgba(9,105,121,1) 35%, rgba(140,4,197,1) 72%, rgba(196,0,255,1) 100%);
    }
    
    .padre{
        background: rgb(121,227,181);
        background: linear-gradient(90deg, rgba(121,227,181,1) 0%, rgba(9,105,121,1) 35%, rgba(140,4,197,1) 72%, rgba(196,0,255,1) 100%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin: 3em;
    }

    img{
        border: 3px solid goldenrod;
    }

    footer{
        margin-top: 1.5px;
        background: goldenrod
    }
}

@media (min-width: 1024px) {
    body{
        background: rgb(121,227,181);
        background: linear-gradient(90deg, rgba(121,227,181,1) 0%, rgba(9,105,121,1) 35%, rgba(140,4,197,1) 72%, rgba(196,0,255,1) 100%);
    }
    .grillaGeneral{
        color: goldenrod;
    }
    .padre{
        padding: 1.5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        margin: 0;
    }
    img{
        margin-top: 20px;
    }
}